@font-face {
    font-family: "Greycliff";
    src: url("/fonts/GreycliffCF-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
        url("/fonts/GreycliffCF-Medium.woff") format("woff"), /* Modern Browsers */
        url("/fonts/GreycliffCF-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: bold;
}

@font-face {
    font-family: "Greycliff";
    src: url("/fonts/GreycliffCF-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
        url("/fonts/GreycliffCF-Regular.woff") format("woff"), /* Modern Browsers */
        url("/fonts/GreycliffCF-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
}

:root{
    --martinGrey: rgb(102,102,102);
    --martinDarkGrey: rgb(51,51,51);
    --martinBlue: rgb(0,113,188);
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
    margin-bottom: 30px
}

.shruggie {
    height: 30vh;
    margin: 0;
    
    transition: all 0.5s;
}

.shruggie:hover {
    transform: translateY(-10px);
}

.shruggie:hover + .shadow {
    transform: scale(0.95);
}

.shadow {
    object-fit: fill;
    width: 80vh;
    height: 8vh;
    margin-top: -30px;
    
    transition: all 0.5s;
}

.text-container {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
    margin-top: 20px;
    margin-bottom: 50px;
    
    color: var(--martinDarkGrey)
}

.text-container > h1 {
    font-family: Greycliff, sans-serif;
    font-size: 6vw;
    
    margin: 0;
}

.text-container > p {
    font-family: Greycliff, sans-serif;
    font-size: 1vw;
    margin: 0;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
}

.button-goback {
    margin-right: 30px;
    
    height: 50px;
    width: 170px;
    
    font-family: Greycliff, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    
    background-color: white;
    color: var(--martinDarkGrey);
    border: solid 2px var(--martinDarkGrey);
    border-radius: 15px;
    
    transition: all 0.3s;
}

.button-goback:hover {
    background-color: var(--martinDarkGrey);
    color: white;
    
    transform: scale(1.05);
    
    cursor: pointer;
}

.button-home {
    height: 50px;
    width: 170px;
    
    font-family: Greycliff, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    
    background-color: white;
    color: var(--martinBlue);
    border: solid 2px var(--martinBlue);
    border-radius: 15px;
    
    transition: all 0.3s;
}

.button-home:hover {
    background-color: var(--martinBlue);
    color: white;
    
    transform: scale(1.05);
    
    cursor: pointer;
}