@font-face {
    font-family: "Greycliff";
    src: url("/fonts/GreycliffCF-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
        url("/fonts/GreycliffCF-Medium.woff") format("woff"), /* Modern Browsers */
        url("/fonts/GreycliffCF-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: bold;
}

@font-face {
    font-family: "Greycliff";
    src: url("/fonts/GreycliffCF-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
        url("/fonts/GreycliffCF-Regular.woff") format("woff"), /* Modern Browsers */
        url("/fonts/GreycliffCF-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
}

:root{
    --martinGrey: rgb(200,200,200);
    --martinDarkGrey: rgb(51,51,51);
    --martinBlue: rgb(0,113,188);
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Greycliff, sans-serif;
    
    overflow: scroll;
}

#CONTAINER {
    display: flex;
    flex-shrink: 0;
    height: 100%;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
}   

#graphicsDiv {
    z-index: 0;
}

#blueFill {
    display: none;
    top: 30px;
    left: -390px;
    height: 97%;
    width: 80vw;
    max-width: 1600px;
    filter: drop-shadow(5px 3px 18px rgba(0,0,0,0.5));
}

@keyframes introText {
    0%   {top: 150px; opacity: 0;}
    100% {top: 113px; opacity: 1;}
}

#bgText {
    display: block;
    position: static;
    
    top: none;
}

@keyframes introLogo {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

#logo {
    display: none;
    position: fixed;
    left: 65px;
    bottom: 40px;
    height: 85px;
    
    animation-name: introLogo;
    animation-duration: 2.5s;
    animation-delay: 1.3s;
    animation-fill-mode: both;
}

.footer {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    position: static;
    
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
}

.footer > P {
    margin: 20px;
    
    font-size: 11px;
    letter-spacing: 2px;
    color: black;
    
    transition: all 0.3s ease;
}

.footer > p:hover {
    cursor: pointer;
    color: var(--martinBlue);
}

#inputFields {
    display: grid;
    height: auto;
    width: 75%;
    
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 35px;
    
    justify-items: center;
    align-content: center;
    font-family: Greycliff, sans-serif;
}

input[type=text], select {
    font-family: inherit;
    font-size: 20px;
    height: 35px;
    
    width: 100%;
    padding: 10px;
    border: 2px solid;
    border-color: var(--martinDarkGrey);
    border-radius: 10px;
    background-color: transparent;
    
    transition: all 0.3s;
}

input[type=text]:hover, select:hover, table:hover {
    border-color: var(--martinBlue);
}

select {
    box-sizing: content-box;
}


input[name="generation"], input[name="listLink"] {
    grid-column-start: 1;
    grid-column-end: span 2;
}

.formLabel {
    position: relative;
    width: 100%;
    text-align: left;
}

#genLabel {
    grid-column-start: 1;
    grid-column-end: span 2;
}

#zipLabel {
    grid-column-start: 1;
    grid-column-end: span 1;
}

#distLabel {
    grid-column-start: 2;
    grid-column-end: span 1;
}

#partsLabel {
    grid-column-start: 1;
    grid-column-end: span 2;
}


/* separator */
.separator {
    grid-column-start: 1;
    grid-column-end: span 2;
    
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--martinDarkGrey);
    width: 100%;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid var(--martinDarkGrey);
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}

/* parts table */
table {
    grid-column-start: 1;
    grid-column-end: span 2;
    
    border: 2px solid;
    border-color: var(--martinDarkGrey);
    border-radius: 10px;
    width: 100%;
    
    box-sizing: content-box;
    padding: 10px;
    
    transition: all 0.3s;
}

th {
    height: 35px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

td > input[type=text] {
    margin: 0px;
    width: 90%;
    background-color: transparent;
    
    font-family: inherit;
    font-size: 20px;
    height: 35px;
    
    outline: none;
    
    padding: 5px;
    border: 0px;
    
    transition: all 0.3s;
}

#tableButtonsContainer {
    grid-column-start: 2;
    position: relative;
    margin-left: auto;
    margin-right: 0;
    
    display: flex;
    border: 2px solid var(--martinDarkGrey);
    border-radius: 10px;
    
    transition: all 0.3s;
}

#tableButtonsContainer:hover {
    border: 2px solid var(--martinBlue);
}

#tableButtonsContainer > button, span {
    background-color: transparent;
    
    font-size: 20px;
    border: 0;
    outline: none;
    
    cursor: pointer;
}

#tableButtonsContainer > span {
    color: var(--martinDarkGrey);
}