@font-face {
    font-family: "Greycliff";
    src: url("/fonts/GreycliffCF-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
        url("/fonts/GreycliffCF-Medium.woff") format("woff"), /* Modern Browsers */
        url("/fonts/GreycliffCF-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: bold;
}

@font-face {
    font-family: "Greycliff";
    src: url("/fonts/GreycliffCF-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
        url("/fonts/GreycliffCF-Regular.woff") format("woff"), /* Modern Browsers */
        url("/fonts/GreycliffCF-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
}

:root{
    --martinGrey: rgb(200,200,200);
    --martinDarkGrey: rgb(51,51,51);
    --martinBlue: rgb(0,113,188);
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Greycliff, sans-serif;
    
    overflow: hidden;
}

#CONTAINER {
    display: grid;
    height: 100%;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    
    max-height: 100vh;
}   

#graphicsDiv {
    position: static;
    z-index: 0;
}

@keyframes introFill {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}


#blueFill {
    position: absolute;
    top: 30px;
    left: -390px;
    height: 97%;
    width: 80vw;
    max-width: 1600px;
    filter: drop-shadow(5px 3px 18px rgba(0,0,0,0.5));
    
    animation-name: introFill;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

@keyframes introText {
    0%   {top: 150px; opacity: 0;}
    100% {top: 113px; opacity: 1;}
}

#bgText {
    position: absolute;
    left: 10%;
    width: 45vw;
    
    animation-name: introText;
    animation-duration: 1.3s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
}

@keyframes introLogo {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

#logo {
    position: fixed;
    left: 65px;
    bottom: 40px;
    height: 85px;
    
    animation-name: introLogo;
    animation-duration: 2.5s;
    animation-delay: 1.3s;
    animation-fill-mode: both;
}

@keyframes enterFooter {
    0%   {opacity: 0; transform: translateX(40px);}
    100% {opacity: 1; transform: translateX(0px);}
}

.footer {
    position: fixed;
    bottom: 20px;
    right: 40px;
    
    display: flex;
    flex-direction: row;
    
    animation-name: enterFooter;
    animation-duration: 0.8s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
}

.footer > P {
    margin: 15px;
    padding: 5px;
    
    font-size: 11px;
    letter-spacing: 2px;
    color: black;
    border-bottom: 1px solid transparent;
    
    transition: all 0.3s ease;
}

.footer > p:hover {
    cursor: pointer;
    color: var(--martinBlue);
    
    border-bottom: 1px solid var(--martinBlue);
}

@keyframes enterInputs {
    0%   {opacity: 0; transform: translateY(70px);}
    100% {opacity: 1; transform: translateY(0px);}
}

.inputs-container {
    height: 100vh;
    width: 90%;
    
    display: flex;
    justify-content: center;
    
    overflow: scroll;
    
    animation-name: enterInputs;
    animation-duration: 1.3s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
}

#inputFields {
    display: grid;
    height: fit-content;
    width: 90%;
    margin-top: 50px;
    
    box-sizing: border-box;
    
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 35px;
    
    justify-items: center;
    margin: auto;
    font-family: Greycliff, sans-serif;
}

input[type=text], select {
    font-family: inherit;
    font-size: 20px;
    height: 35px;
    
    width: 100%;
    padding: 10px;
    border: 2px solid;
    border-color: var(--martinDarkGrey);
    border-radius: 10px;
    background-color: transparent;
    
    outline: none;
    
    transition: all 0.3s;
}

input[type=text]:hover, select:hover, table:hover {
    border-color: var(--martinBlue);
}

select {
    box-sizing: content-box;
}

.buttons-container {
    grid-column: 1 /span 2;
    
    display: flex;
    flex-direction: row;
}

#submitButton, input[type=reset] {
    height: 50px;
    width: 170px;
    
    margin: 20px;
    
    font-family: Greycliff, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    
    background-color: white;
    color: var(--martinBlue);
    border: solid 2px var(--martinBlue);
    border-radius: 15px;
    
    transition: all 0.3s;
}

input[type=reset] {
    background-color: white;
    color: var(--martinDarkGrey);
    border: solid 2px var(--martinDarkGrey);
}

#submitButton:hover {
    background-color: var(--martinBlue);
    color: white;
    
    transform: scale(1.05);
    
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: var(--martinDarkGrey);
    color: white;
    
    transform: scale(1.05);
    
    cursor: pointer;
}

input[name="generation"], input[name="listLink"] {
    grid-column-start: 1;
    grid-column-end: span 2;
}

.formLabel {
    position: relative;
    width: 100%;
    text-align: left;
    
    margin-top: 10px;
}

#genLabel {
    grid-column-start: 1;
    grid-column-end: span 2;
}

#zipLabel {
    grid-column-start: 1;
    grid-column-end: span 1;
}

#distLabel {
    grid-column-start: 2;
    grid-column-end: span 1;
}

#partsLabel {
    grid-column-start: 1;
    grid-column-end: span 2;
}

#partsLinkLabel {
    grid-column-start: 1;
    grid-column-end: span 2;
}


/* separator */
.separator {
    grid-column-start: 1;
    grid-column-end: span 2;
    
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--martinDarkGrey);
    width: 100%;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid var(--martinDarkGrey);
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}

/* parts table */
table {
    grid-column-start: 1;
    grid-column-end: span 2;
    
    border: 2px solid;
    border-color: var(--martinDarkGrey);
    border-radius: 10px;
    width: 100%;
    
    box-sizing: content-box;
    padding: 10px;
    
    transition: all 0.3s;
}

th {
    height: 35px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

td > input[type=text] {
    margin: 0px;
    width: 90%;
    background-color: transparent;
    
    font-family: inherit;
    font-size: 20px;
    height: 35px;
    
    outline: none;
    
    padding: 5px;
    border: 0px;
    
    transition: all 0.3s;
}

#tableButtonsContainer {
    grid-column-start: 2;
    position: relative;
    margin-left: auto;
    margin-right: 0;
    
    display: flex;
    border: 2px solid var(--martinDarkGrey);
    border-radius: 10px;
    
    transition: all 0.3s;
}

#tableButtonsContainer:hover {
    border: 2px solid var(--martinBlue);
}

#tableButtonsContainer > button, span {
    background-color: transparent;
    
    font-size: 20px;
    border: 0;
    outline: none;
    
    cursor: pointer;
}

#tableButtonsContainer > span {
    color: var(--martinDarkGrey);
}