@font-face {
    font-family: "Greycliff";
    src: url("/fonts/GreycliffCF-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
        url("/fonts/GreycliffCF-Medium.woff") format("woff"), /* Modern Browsers */
        url("/fonts/GreycliffCF-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: bold;
}

@font-face {
    font-family: "Greycliff";
    src: url("/fonts/GreycliffCF-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
        url("/fonts/GreycliffCF-Regular.woff") format("woff"), /* Modern Browsers */
        url("/fonts/GreycliffCF-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
}

:root {
    --martinGrey: rgb(200,200,200);
    --martinDarkGrey: rgb(51,51,51);
    --martinBlue: rgb(0,113,188);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Greycliff, sans-serif;
}

/* start of styling for loading screen */
#loadingContainer {
    height: 80%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#loadingDiv {
    width: 100%;
    align-self: stretch;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    grid-auto-rows: 40px;
    align-items: center;
    justify-items: center;
}

#loadingDiv > h1 {
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 2px;
}

.progUpdateContainer {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

/* loader code */
.loader {
    border: 4px solid var(--martinGrey); /* Light grey */
    border-top: 4px solid var(--martinBlue); /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px;
    
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* checkmark code */
.progUpdateContainer > .checkMark {
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 0;
}
/* end of styling for loading screen */

/* start styling for results */
.imageContainer {
    display: flex;
    justify-content: center;
    
    padding-bottom: 20px;
}

#logo {
    margin: auto;
    height: 200px;
}

/* relevance buttons */
.relevanceSelector {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    
    overflow: hidden;
    
    border: 2px solid var(--martinBlue);
    border-radius: 10px;
    
    transition: all 0.3s;
}

.relevanceSelector > button {
    font-size: 20px;
    
    padding: 10px;
    outline: none;
    
    transition: all 0.3s;
}

.relevanceSelector > button:hover {
    color: black;
    background: var(--martinGrey);
}

.buttonUnselected {
    background: white;
    color: black;
    
    border: none;
}

.buttonSelected {
    background: var(--martinBlue);
    color: white;
    
    border: none;
}

/* actual results styling */
.scrollingContainer {
    width: 100;
    padding: 20px;
    display: flex;
    flex-direction: row;
    
    overflow: scroll;
}

.scrollingContainer::-webkit-scrollbar {
    display: none;
}

h3 {
    margin: 0;
    padding-left: 35px;
}

a {
    text-decoration: none;
}

.card {
    margin: 20px;
    min-height: 350px;
    width: 300px;
    min-width: 300px;
    
    border: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 3px 9px rgba(0,0,0,0.5);
    
    display: grid;
    grid-auto-rows: auto;
    
    transition: all 0.3s;
}

.card:hover {
    transform:scale(1.05);
    box-shadow: 2px 3px 15px rgba(0,0,0,0.5);
    background-color: var(--martinBlue);
}

.card > img {
    width: 100%;
}

img.rotatedImage {
    transform: rotate(180deg);
}

.card > ul {
    max-height: 163px;
    overflow-y: scroll;
}

.card > p, ul {
    margin: 10px;
    font-size: 15px;
    font-weight: 300;
    color: rgb(20,20,20);
    transition: all 0.2s;
}

.card:hover > p, .card:hover > ul {
    color: rgb(240,240,240);
}

.card > .title {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 500;
}

.card > .subtitle {
    font-size: 20px;
    font-weight: 300;
}

.card > .location {
    margin-top: 25px;
    margin-bottom: 4px;
}

.card > li {
    margin-top: 1px;
    margin-bottom: 1px;
}

.card > .vin {
    
    color: var(--martinGrey);
}
/* end cards coding */

/* start error styling */
.container {
    height: 100vh;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-container {
    width: auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.error-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.error-text-container > img {
    height: 200px;
}

.error-text-container > h5 {
    font-size: 30px;
    width: 450px;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: right
}

.error-text-container > p {
    font-size: 15px;
    width: 450px;
    text-align: right;
}

.error-buttons-container {
    display: flex;
    flex-direction: row;
}

.error-help {
    margin-right: 30px;
    
    height: 50px;
    width: 170px;
    
    font-family: Greycliff, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    
    background-color: white;
    color: var(--martinDarkGrey);
    border: solid 2px var(--martinDarkGrey);
    border-radius: 15px;
    
    transition: all 0.3s;
}

.error-help:hover {
    background-color: var(--martinDarkGrey);
    color: white;
    
    transform: scale(1.05);
    
    cursor: pointer;
}

.error-go-back {
    height: 50px;
    width: 170px;
    
    font-family: Greycliff, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    
    background-color: white;
    color: var(--martinBlue);
    border: solid 2px var(--martinBlue);
    border-radius: 15px;
    
    transition: all 0.3s;
}

.error-go-back:hover {
    background-color: var(--martinBlue);
    color: white;
    
    transform: scale(1.05);
    
    cursor: pointer;
}

.triangle {
    height: 300px;
}

/* nothing found styling */

.empty-container {
    width: auto;
    
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 50px;
    
    margin-bottom: 50px;
}

.empty-container > img {
    width: 300px;
}

.empty-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.empty-text-container > h1 {
    font-size: 50px;
    width: 450px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: right
}

.empty-text-container > p {
    font-size: 15px;
    width: 450px;
    
    margin-bottom: 30px;
    
    text-align: right;
}

.error-buttons-container {
    display: flex;
    flex-direction: row;
}